In [1]:
import re

text = 'Python Exercises, PHP exercises.'
result = re.sub(r'[ ,.]', ':', text)
print(result)

Python:Exercises::PHP:exercises:

In [2]:
import pandas as pd
import re

data = {'SUMMARY': ['hello world!', 'XXXXX test', '123four five:; six...']}
df = pd.DataFrame(data)
df['SUMMARY'] = df['SUMMARY'].apply(lambda x: re.sub(r'[^a-zA-Z ]', '', x))
print(df)

         SUMMARY
0    hello world
1     XXXXX test
2  four five six

In [3]:
import re

def find_words(text):
    pattern = re.compile(r'\b\w{4,}\b')
    return pattern.findall(text)

text = "This is a test string for finding words."
print(find_words(text))

['This', 'test', 'string', 'finding', 'words']

In [4]:
def find_specific_words(text):
    pattern = re.compile(r'\b\w{3,5}\b')
    return pattern.findall(text)

text = "This is a test string."
print(find_specific_words(text))

['This', 'test']

In [5]:
def remove_parentheses(text_list):
    pattern = re.compile(r'\s*\([^)]*\)')
    return [pattern.sub('', text) for text in text_list]

sample_text = ["example (.com)", "hr@fliprobo (.com)", "github (.com)", "Hello (Data Science World)", "Data (Scientist)"]
print(remove_parentheses(sample_text))

['example', 'hr@fliprobo', 'github', 'Hello', 'Data']

In [10]:
def remove_parentheses(text_list):
    pattern = re.compile(r'\s*\([^)]*\)')
    return [pattern.sub('', text) for text in text_list]

sample_text = ["example (.com)", "hr@fliprobo (.com)", "github (.com)", "Hello (Data Science World)", "Data (Scientist)"]
print(remove_parentheses(sample_text))

['example', 'hr@fliprobo', 'github', 'Hello', 'Data']

In [11]:
import re

def remove_parentheses_from_list(text_list):
    return [re.sub(r'\s*\([^)]*\)', '', text) for text in text_list]

sample_text = ["example (.com)", "hr@fliprobo (.com)", "github (.com)", "Hello (Data Science World)", "Data (Scientist)"]
print(remove_parentheses_from_list(sample_text))

['example', 'hr@fliprobo', 'github', 'Hello', 'Data']

In [12]:
def split_uppercase(text):
    return re.findall(r'[A-Z][^A-Z]*', text)

text = "ImportanceOfRegularExpressionsInPython"
print(split_uppercase(text))

['Importance', 'Of', 'Regular', 'Expressions', 'In', 'Python']

In [13]:
def insert_spaces(text):
    return re.sub(r'(\d+)', r' \1', text).strip()

text = "RegularExpression1IsAn2ImportantTopic3InPython"
print(insert_spaces(text))

RegularExpression 1IsAn 2ImportantTopic 3InPython

In [14]:
def insert_spaces_advanced(text):
    return re.sub(r'(?<=[a-z])(?=[A-Z0-9])|(?<=[A-Z0-9])(?=[A-Z0-9][a-z])', r' ', text)

text = "RegularExpression1IsAn2ImportantTopic3InPython"
print(insert_spaces_advanced(text))

Regular Expression 1 Is An 2 Important Topic 3 In Python

In [15]:
def create_dataframe_and_extract(url):
    df = pd.read_csv(url)
    df['first_six_letters'] = df['Country'].apply(lambda x: x[:6])
    return df

url = "https://raw.githubusercontent.com/dsrscientist/DSData/master/happiness_score_dataset.csv"
print(create_dataframe_and_extract(url))

         Country                           Region  Happiness Rank  \
0    Switzerland                   Western Europe               1
1        Iceland                   Western Europe               2
2        Denmark                   Western Europe               3
3         Norway                   Western Europe               4
4         Canada                    North America               5
..           ...                              ...             ...
153       Rwanda               Sub-Saharan Africa             154
154        Benin               Sub-Saharan Africa             155
155        Syria  Middle East and Northern Africa             156
156      Burundi               Sub-Saharan Africa             157
157         Togo               Sub-Saharan Africa             158

     Happiness Score  Standard Error  Economy (GDP per Capita)   Family  \
0              7.587         0.03411                   1.39651  1.34951
1              7.561         0.04884                   1.30232  1.40223
2              7.527         0.03328                   1.32548  1.36058
3              7.522         0.03880                   1.45900  1.33095
4              7.427         0.03553                   1.32629  1.32261
..               ...             ...                       ...      ...
153            3.465         0.03464                   0.22208  0.77370
154            3.340         0.03656                   0.28665  0.35386
155            3.006         0.05015                   0.66320  0.47489
156            2.905         0.08658                   0.01530  0.41587
157            2.839         0.06727                   0.20868  0.13995

     Health (Life Expectancy)  Freedom  Trust (Government Corruption)  \
0                     0.94143  0.66557                        0.41978
1                     0.94784  0.62877                        0.14145
2                     0.87464  0.64938                        0.48357
3                     0.88521  0.66973                        0.36503
4                     0.90563  0.63297                        0.32957
..                        ...      ...                            ...
153                   0.42864  0.59201                        0.55191
154                   0.31910  0.48450                        0.08010
155                   0.72193  0.15684                        0.18906
156                   0.22396  0.11850                        0.10062
157                   0.28443  0.36453                        0.10731

     Generosity  Dystopia Residual first_six_letters
0       0.29678            2.51738            Switze
1       0.43630            2.70201            Icelan
2       0.34139            2.49204            Denmar
3       0.34699            2.46531            Norway
4       0.45811            2.45176            Canada
..          ...                ...               ...
153     0.22628            0.67042            Rwanda
154     0.18260            1.63328             Benin
155     0.47179            0.32858             Syria
156     0.19727            1.83302            Burund
157     0.16681            1.56726              Togo

[158 rows x 13 columns]

In [16]:
import re

def match_pattern(text):
    return re.match(r'^[a-zA-Z0-9_]+$', text)

text = "Python3_Example"
print(match_pattern(text))

<re.Match object; span=(0, 15), match='Python3_Example'>

In [17]:
def starts_with_number(text, number):
    pattern = rf'^{number}'
    return bool(re.match(pattern, text))

text = "5Examples"
number = 5
print(starts_with_number(text, number))

True

In [18]:
def remove_leading_zeros(ip):
    return re.sub(r'\b0+(\d)', r'\1', ip)

ip_address = "192.168.001.001"
print(remove_leading_zeros(ip_address))

192.168.1.1

In [19]:
def find_date(text):
    pattern = r'\b(January|February|March|April|May|June|July|August|September|October|November|December)\s\d{1,2}\w{0,2}\s\d{4}'
    return re.findall(pattern, text)

text = "On August 15th 1947, India was declared independent."
print(find_date(text))

['August']

In [20]:
def search_literals(text, words):
    found = {word: bool(re.search(word, text)) for word in words}
    return found

text = "The quick brown fox jumps over the lazy dog."
words = ['fox', 'dog', 'horse']
print(search_literals(text, words))

{'fox': True, 'dog': True, 'horse': False}

In [21]:
def find_literal_with_position(text, word):
    match = re.search(word, text)
    if match:
        return match.start(), match.end()
    else:
        return "Not found"

text = "The quick brown fox jumps over the lazy dog."
word = "fox"
print(find_literal_with_position(text, word))

(16, 19)

In [22]:
def find_literal_with_position(text, word):
    match = re.search(word, text)
    if match:
        return match.start(), match.end()
    else:
        return "Not found"

text = "The quick brown fox jumps over the lazy dog."
word = "fox"
print(find_literal_with_position(text, word))

(16, 19)

In [23]:
def find_occurrence_and_position(text, pattern):
    return [(match.start(), match.end()) for match in re.finditer(pattern, text)]

text = "Python exercises, PHP exercises, C# exercises"
pattern = 'exercises'
print(find_occurrence_and_position(text, pattern))

[(7, 16), (22, 31), (36, 45)]

In [24]:
def convert_date_format(date):
    return re.sub(r'(\d{4})-(\d{2})-(\d{2})', r'\3-\2-\1', date)

date = "2023-04-01"
print(convert_date_format(date))

01-04-2023

In [25]:
def find_decimal_numbers(text):
    return re.findall(r'\b\d+\.\d{1,2}\b', text)

text = "01.12 0132.123 2.31875 145.8 3.01 27.25 0.25"
print(find_decimal_numbers(text))

['01.12', '145.8', '3.01', '27.25', '0.25']

In [26]:
import re

def numbers_and_positions(text):
    pattern = r'\d+'
    return [(m.group(), m.start()) for m in re.finditer(pattern, text)]

text = "The 2 brown foxes jumped over the 1 lazy dog at 4 PM."
print(numbers_and_positions(text))

[('2', 4), ('1', 34), ('4', 48)]

In [27]:
def max_numeric_value(text):
    numbers = [int(num) for num in re.findall(r'\d+', text)]
    return max(numbers) if numbers else None

text = 'My marks in each semester are: 947 896 926 524 734 950 642'
print(max_numeric_value(text))

950

In [28]:
def insert_spaces(text):
    return re.sub(r'(?<=[a-z])(?=[A-Z])', ' ', text)

text = "RegularExpressionIsAnImportantTopicInPython"
print(insert_spaces(text))

Regular Expression Is An Important Topic In Python

In [29]:
def find_sequences(text):
    return re.findall(r'\b[A-Z][a-z]*\b', text)

text = "The Quick Brown Fox Jumps Over The Lazy Dog"
print(find_sequences(text))

['The', 'Quick', 'Brown', 'Fox', 'Jumps', 'Over', 'The', 'Lazy', 'Dog']

In [30]:
def remove_continuous_duplicates(text):
    return re.sub(r'\b(\w+)( \1\b)+', r'\1', text, flags=re.IGNORECASE)

text = "Hello hello world world"
print(remove_continuous_duplicates(text))

Hello world

In [31]:
def ends_with_alphanumeric(text):
    return bool(re.search(r'\w$', text))

text = "This is a test."
print(ends_with_alphanumeric(text))

False

In [32]:
def extract_hashtags(text):
    return re.findall(r'#\w+', text)

text = """RT @kapil_kausik: #Doltiwal I mean #xyzabc is "hurt" by #Demonetization as the same has rendered USELESS"""
print(extract_hashtags(text))

['#Doltiwal', '#xyzabc', '#Demonetization']

In [33]:
def remove_unicode_symbols(text):
    return re.sub(r'<U\+\w+>', '', text)

text = "@Jags123456 Bharat band on 28??<ed><U+00A0><U+00BD><ed><U+00B8><U+0082>Those who are protesting #demonetization are all different party leaders"
print(remove_unicode_symbols(text))

@Jags123456 Bharat band on 28??<ed><ed>Those who are protesting #demonetization are all different party leaders

In [34]:
def extract_dates(text):
    return re.findall(r'\d{2}-\d{2}-\d{4}', text)

text = "Ron was born on 12-09-1992 and he was admitted to school 15-12-1999."
print(extract_dates(text))

['12-09-1992', '15-12-1999']

In [35]:
def extract_dates(text):
    return re.findall(r'\d{2}-\d{2}-\d{4}', text)

text = "Ron was born on 12-09-1992 and he was admitted to school 15-12-1999."
print(extract_dates(text))

['12-09-1992', '15-12-1999']